<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8">
	<link rel="stylesheet" href="{{ STATIC_URL }}style.css" />
	<title>{%- block title -%}Third Case Songs{%- endblock -%}</title>
</head>
<body>
	<div id="size_wrapper">
		<div id="body_wrapper">
			{%- block restricted -%}
			{%- include('main/inc_menu.html') -%}
			{%- block content -%}
			<h1>Third Case's totally awesome song- /setlist!</h1>
			<ul>
				<li>Eingetragene Songs: {{ n_songs }}</li>
				<li>Eingetragene Setlisten: {{ n_sets }}</li>
				<li>Eingetragene Song-Vorschläge: {{ n_sugs }}</li>
			</ul>
			{%- endblock -%}
			<form action="{{ url_reverse('logout') }}" method="post" id="logout_button">
				<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
				<input type="submit" value="Logout"/>
			</form>
			{%- endblock -%}
		</div>
		{% block scripts %}
		{% endblock %}
		<div id="pbaws">
			<img src="{{ STATIC_URL }}aws.png" height="40px">
		</div>
		<div class="clearer">&nbsp;</div>
	</div>
</body>
</html>
