{% block menu %}
<div id="menu_wrapper">
<div id="men_tl"><a href="{{ url_reverse('song_overview') }}"{% if active == 'song' %} class="active"{% endif %}>Songlist</a></div><div id="men_tr"><a href="{{ url_reverse('sug_song_overview') }}"{% if active == 'sug_song' %} class="active"{% endif %}>Song Vorschläge</a></div></br><div id="men_bl"><a href="{{ url_reverse('set_overview') }}"{% if active == 'set' %} class="active"{% endif %}>Setlisten</a></div><div id="men_br"><a href="{{ url_reverse('profile') }}"{% if active == 'profile' %} class="active"{% endif %}>Profil</a></div>
</div>
{% endblock %}
