{% extends 'main/inc_index.html' %}
{% block restricted %}
<form method="post" id="login_form">
<ul>
{{ form.as_ul() }}
</ul>
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
<input type="submit" value="Login"/>
</form>
{% endblock %}
