{% extends 'main/inc_index.html' %}
{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/inheritance.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/es.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/classes.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>
{% endblock %}
{%- block content -%}
{%- include('song/inc_songs_men.html') -%}
<form method="post" class="centered_form">
<ul>
{{ form.as_ul() }}
</ul>
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
<input type="submit" value="Speichern"/>
</form>
<div id="song_yt_suggestions"></div>
{% if new_song %}
<h2 class="success">Neuer Song eingetragen: {{ new_song }}</h2>
{% endif %}
{% include "set/inc_set_short.html" %}
{%- endblock -%}
