{% extends 'song/inc_songs.html' %}
{% block additional %}{% endblock %}
{% block scripts %}{% endblock %}
{% block buttons scoped %}
	{% if item.is_suggestion %}
	<a href="{{ url_reverse( active + '_transfer', kwargs={'song_id': item.id}) }}"><input type="button" value="&radic;" class="del_bt"/></a>
	{% endif %}
	<a href="{{ url_reverse( active + '_delete', kwargs={'song_id': item.id}) }}"><input type="button" value="X" class="del_bt"/></a>
{% endblock buttons %}
