{% extends 'main/inc_index.html' %}
{% block content %}
<h1>Song übernehmen</h1>
Möchtest du diesen Song mit in die Songliste aufnehmen?
<h2 class="song_head">{{ song }}</h2>
<form method="post" class="centered">
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
<input type="submit" value="Ja, aufnehmen!"/>
</form>
{% endblock %}
