<li class="{% if deprecated %}song_deprecated {% endif %}{% if pos % 2 == 0 %}even{% else %}odd{% endif %}{% if class %} {{ class }}"{% endif %}>
	{%- if movable -%}
	<input type="submit" name="up" class="inline_btn btn_left btn_move_up" value="/\"/>
	{%- endif -%}
	{% block additional %}{% endblock %}
	<input type="hidden" name="{{ name }}_{{ pos }}" value="{{ id }}"/>
	<span>{{ value }}</span>
	{%- if movable %}<input type="submit" name="down" class="inline_btn btn_right btn_move_down" value="\/"/>{% endif -%}
	{%- if transferable -%}
		{%- if transferable == 'right' -%}
		<input type="submit" name="right" class="inline_btn btn_right btn_move_right" value=">"/>
		{%- elif transferable == 'left' -%}
		<input type="submit" name ="left" class="inline_btn btn_right btn_move_left" value="<"/>
		{%- endif -%}
	{%- endif -%}
</li>
