<div id="inner_men">
<div id="in_men_tl"><a href="{{ url_reverse(active + '_overview') }}"{% if sub_active == 'overview' %} class="active"{% endif %}>Übersicht</a></div><div id="in_men_tr"><a href="{{ url_reverse(active + '_add') }}"{% if sub_active == 'insert' %} class="active"{% endif %}>Neu eintragen</a></div>
</div>
