{% extends 'main/inc_index.html' %}
{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/filter.js"></script>
{% endblock %}
{%- block content -%}
{% include('song/inc_songs_men.html') %}
{% block additional %}
<div class="href_export_available">
<a href="{{ url_reverse('set_export_available') }}">Alle verfügbaren Songs exportieren</a>
</div>
{% endblock %}
{% block filterform %}
<form method="post" class="list_form">
<input type="submit" value="filtern"/>
{{ filter_form.as_p() }}
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
</form>
{% endblock filterform %}
<div class="alpha_head">Zu Künstler springen:</div>
<div id="song_alpha">
{%- for letter in 'abcdefghijklmnopqrstuvwxyz' -%}
	{%- if letter in tree or letter|upper in tree %}
	<a href="#{{- letter|upper -}}">{{- letter|upper -}}</a>
	{%- else %}
	<div class="no_link">{{- letter|upper -}}</div>
	{%- endif -%}
{%- endfor -%}
</div>
<div id="song_list">
{%- for letter in 'abcdefghijklmnopqrstuvwxyz' -%}
{%- if letter|upper in tree %}
	<a id="{{ letter|upper }}"><h2>{{ letter|upper }}</h2></a>
	<ul>
	{%- for item in tree[letter|upper] -%}
		<li {% if not item.available %} class="song_unavailable"{% endif %}><a href="{{ url_reverse( active + '_detail', kwargs={ 'song_id':item.id}) }}">{{ item }}</a>
		<div class="song_ae">
			{% for approver in item.approved_by.all() %}
			<img class="approval_pic" src="{{ STATIC_URL }}{{ approver.approval_image }}" alt="Approved by {{ approver }}"/>
			{% endfor %}
		{{- item.author.first_name[0] + item.author.last_name[0] }} - {{ item.editor.first_name[0] + item.editor.last_name[0] -}}
		- {{ item.modified.strftime("%d.%m.%Y") }}
		{% block buttons scoped %}
		{% endblock buttons %}
		</div>
		{%- if item.video_link -%}<br/><a class="video_link" href="{{ item.video_link }}" target="_blank">{{ item.video_link }}</a>{% endif %}
		<div class="video_link"> - {{ item.length.strftime("%M:%S") }}</div>
		</li>
	{%- endfor %}
	</ul>
{%- endif %}
{%- endfor -%}
</div>
{%- endblock -%}
