body {
	background-color: #ECECEC;
	margin: 0px;
}

a,
a:link,
a:hover,
a:active {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}

h1 {
	text-align: center;
	border-bottom: 1px solid #131313;
}

h3 {
	font-size: 1em;
}

.song_sets {
	font-size: 0.7em;
}

.href_export_available {
	display: block;
	text-align:center;
	padding: 7px;
	margin: 5px;
	border: 1px dashed #404040;
}

#size_wrapper {
	display: block;
	width: 801px;
	margin: 0 auto;
	padding: 0px;
}

#body_wrapper {
	background-color: #D4D4D4;
	display: block;
	border: 1px solid black;
	-webkit-box-shadow: 3px 3px 17px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 17px 2px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 17px 2px rgba(0,0,0,0.75);
}

.approval_pic {
	float: left;
}

#id_approve {
	background-color: green;
}

#menu_wrapper{
	border-bottom: 1px solid black;
	display: block;
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
}

#inner_men div,
#menu_wrapper div {
	display: inline-block;
	margin: 0px;
	background-color: white;
	margin: 0px;
}

#in_men_tl,
#men_tl,
#men_bl {
	border-right: 1px solid black;
}

#men_bl,
#men_br {
	border-top: 1px solid black;
}

#in_men_tl a,
#in_men_tr a,
#men_tl a,
#men_tr a,
#men_bl a,
#men_br a {
	display: inline-block;
	padding: 10px;
	text-align: center;
	font-weight: bold;
}

#men_tl a,
#men_tr a,
#men_bl a,
#men_br a {
	width: 379px;
}

#in_men_tl a,
#in_men_tr a {
	width: 179px;
}

.active {
	background-color: #f9e38d;
}

#inner_men {
	width: 399px;
	margin: 0 auto;
	border: 1px solid black;
	background-color: white;
}

#song_alpha {
	margin-top: 10px;
	text-align: center;
}

#song_alpha a {
	font-weight: normal;
}

.no_link {
	color: #888888;
	display: inline;
}

#song_list h2 {
	margin: 5px;
	border-top: 1px solid black;
}

#song_list ul {
	margin: 5px;
	margin-left: 15px;
}

#song_list ul a {
	font-weight: normal;
}

#song_list ul li {
	clear: both;
}

#login_form,
.centered_form {
	margin: 0 auto;
	margin-top: 10px;
	width: 500px;
	text-align: right;
}

#login_form ul,
.centered_form ul {
	list-style-type: none;
	padding: 0px;
}

#login_form label,
.centered_form label {
	float: left;
}

#login_form li,
.centered_form li {
	width:500px;
}

.centered_form input {
	text-align:center;
}

.errorlist {
	background-color: #FF5555;
	color: white;
}

#logout_button {
	position: absolute;
	top:10px;
	right:10px;
}

.video_link {
	display: inline;
	clear: both;
	font-size:0.6em;
}

form p {
	text-align: center;
	margin: 4px;
}

.list_form Input[type="submit"] {
	float: right;
}

#song_list .song_ae {
	float: right;
	color: #A4A4A4;
	font-size: 0.8em;
}

.success {
	text-align: center;
	font-size: 0.8em;
}

.alpha_head {
	text-align: center;
	margin: 0px;
	border-top: 1px solid black;
}

.del_bt {
	display: inline;
}

.set_head,
.song_head {
	text-align: center;
	font-size: 1.2em;
	margin: 5px;
}

.set_sub_head {
	margin: 0px;
	font-size: 0.9em;
	text-align: center;
	font-weight: normal;
}

.centered {
	text-align: center;
}

.set_item {
	display: inline-block;
	padding: 10px;
	background-color: white;
	border: 1px solid black;
	margin: 15px 0px 15px 15px;
	-webkit-box-shadow: 3px 3px 17px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 17px 2px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 17px 2px rgba(0,0,0,0.75);
}

.set_item i,
.set_item b {
	display: block;
}

.set_song_list {
	list-style-type: decimal;
}

.set_song_list li {
	padding: 5px 0px 0px 0px;
	margin-right: 20px;
	clear: both;
}

.set_song_list li .t_right {
	float: right;
}

.set_song_list li.even {
	background-color: #b9b9b9;
}


.set_wrap {
	display: inline;
}

#song_yt_suggestions {
	padding: 5px;
	width:500px;
	margin: 0 auto;
	font-size: 0.7em;
	display: none;
	border: 1px solid black;
	background-color: #ECECfC;
}

#song_yt_suggestions h4 {
	display: block;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
}

#song_yt_suggestions i {
	display: inline;
	float: right;
}

#song_yt_suggestions i:hover {
	cursor: pointer;
}

#song_yt_suggestions br {
	clear: both;
}

#song_list .song_unavailable {
	background-color: #ffaaaa;
}

#song_list .song_unavailable,
#song_list .song_unavailable a {
	color: #a4a4a4;
}

.setsong_ul {
	list-style-type: none;
	padding: 0px;
	margin: 10px 0px 0px 0px;
}

.setsong_ul li {
	clear:  both;
}

.song_list {
	width: 390px;
	text-align: center;
	padding:5px;
	margin: 0px;
}

.inline_btn {
	display: inline;
}

.set_moving {
	display: block;
	margin: 0 auto;
}

.set_moving div {
	display:inline-block;
	padding: 4px;
}

.set_moving label {
	display: block;
	font-weight: bold;
}

.song_list .btn_left {
	float: left;
}

.song_list .btn_right {
	float: right;
}

.song_list li.even {
	background-color: white;
}

#__list {
	float: right;
}

#__available {
	float: left;
}

.clearing_btn {
	display: block;
	clear: both;
	margin: 5px 0px 5px 0px;
}

.song_num {
	float: left;
	color: #888888;
}

.alert {
	text-align: center;
	color: red;
	font-weight: bold;
}

.song_deprecated {
	color: #bb4444;
}

#pbaws {
	float: right;
	margin-top: 10px;
}

.clearer {
	clear: both;
	height: 0px;
	display: both;
}
