<form method="post" class="set_moving" action="{{ url_reverse('ajax_songs') }}" id="ajax_song_form">
{{ errors }}
<div class="song_list" id="__available">{{ songs_available.errors }}<label for="id_songs_available">{{ songs_available.label }}</label>{{ songs_available }}</div>
<div class="song_list" id="__list">{{ songs_in_list.errors }}<label for="id_songs_in_list">{{ songs_in_list.label }}</label>{{ songs_in_list }}</div>
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
<input type="hidden" name="set_id" value="{{ set_id }}"/>
<br/>
<div style="display:block;clear:both;"></div>
</form>
<form action="{{ url_reverse('ajax_hash',kwargs={'set_id':set_id}) }}" id="tc_ajax_poller">
<input type="hidden" name="set_hash" value="{{ set_hash }}"/>
</form>
