{% extends 'main/inc_index.html' %}
{% block content %}
<form method="post" class="centered_form">
<ul>
{{ form.as_ul() }}
</ul>
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
<input type="submit" value="Speichern"/>
</form>
{% endblock %}
