{% extends 'main/inc_index.html' %}
{% block content %}
{% include('song/inc_songs_men.html') %}
{%- for set in sets -%}
<div class="set_wrap">
<a href="{{ url_reverse('set_detail', kwargs={'set_id':set.id})}}"><div class="set_item">
<b>{{- set }}</b><i>{{ set.date_played.strftime('%d.%m.%Y') -}}</i></div></a><a href="{{ url_reverse('set_del', kwargs={'set_id':set.id}) }}"><input type="button" value="X"/></a>
</div>
{%- endfor -%}
{% endblock %}
