{% extends 'main/inc_index.html' %}
{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/movesongs.js"></script>
{% endblock %}
{% block content %}
<h1>{{ set }}</h1>
<div class="alert"></div>
{{ form }}
{% endblock %}
