{% extends 'main/inc_index.html' %}
{% block content %}
<h1>Set löschen</h1>
Möchtest du dieses Set wirklich löschen?
<h2 class="song_head">{{ set }}</h2>
<form method="post" class="centered">
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
<input type="submit" value="Ja, löschen!"/>
</form>
{% endblock %}
