{% extends 'main/inc_index.html' %}
{% block content %}
<h2 class="set_head">{{ set }}</h2>
<h3 class="set_sub_head">{% if set.place %}{{ set.place }} - {% endif %}{{ set.date_played.strftime('%d.%m.%Y') }}</h3>
<ul class="set_song_list">
{% for item in songs %}
<li class="{{ loop.cycle("odd","even") }}{% if not item.song.available %} song_deprecated{% endif %}">{{ item.song }}
<span class="t_right">{{ item.song.length.strftime('%M:%S') }}</span></li>
{% endfor %}
</ul>
Gesamtlänge: {{ length }}<br/>
{% if set.editable %}<a href="{{ url_reverse('set_edit', kwargs={'set_id':set.id}) }}"><input type="button" value="Songs Bearbeiten"/></a>{% endif %}
<a href="{{ url_reverse('set_edit_details', kwargs={'set_id':set.id}) }}"><input type="button" value="Details Bearbeiten"/></a>
<a href="{{ url_reverse('set_export', kwargs={'set_id':set.id}) }}"><input type="button" value="Exportieren"/></a>
{% endblock %}
