{% if song and song.n_occurances > 0 %}
<h3>Dieser Song wird in folgenden Sets gespielt:</h3>
<ul>
{% for set in song.in_sets.all() %}
<li class="song_sets"><a href="{{ set.get_url() }}">{{ set.title }} - {{ set.date_played.strftime("%d.%m.%Y") }}</a></li>
{% endfor %}
</ul>
{% endif %}
